<div class="reveal__inner component__inner">
  {{> component this}}
  <div class="reveal__widget reveal__component component__widget">
    <div class="reveal__widget-slider">
      <a href="#" class="reveal__widget-control" aria-label="{{_globals._components._reveal.ariaLabel}}">
        <div class="reveal__widget-icon icon"></div>
      </a>
      <div class="reveal__widget-item second-item">
        {{#if second.src}}
        <img src="{{second.src}}" class="reveal__image" alt="{{second.alt}}" title="{{second.title}}" />
        {{/if}}
        {{#if second.body}}
        <div class="reveal__widget-item-text second">
          <div class="reveal__widget-item-text-body reveal__second-long dot-ellipsis dot-resize-update"
            class="a11y-ignore" aria-hidden="true" tab-index="-1">
            {{{second.body}}}
            <a href="#" class="reveal__popup-open">{{#if second.moreText}}{{second.moreText}}{{else}}More{{/if}}</a>
          </div>
        </div>
        {{/if}}
      </div>
      <div class="reveal__widget-item first-item">
        {{#if first.src}}
        <img src="{{first.src}}" class="reveal__image" alt="{{first.alt}}" title="{{first.title}}" />
        {{/if}}
        {{#if first.body}}
        <div class="reveal__widget-item-text first">
          <div class="reveal__widget-item-text-body reveal__first-long dot-ellipsis dot-resize-update">
            {{{first.body}}}
            <a href="#" class="reveal__popup-open">{{#if first.moreText}}{{first.moreText}}{{else}}More{{/if}}</a>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
